<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Recipe Database</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <header>
    <ul class="navigation">
      <li><img id = "logo-image" src = "/imgs/cookbook.gif"></li>
      <li><a id = "brand" href = "/">Recipe Database</a></li>
      <li><a class = "nav-link" href = "/recipes">Recipes</a></li>
    </ul>
  </header>

  <body>
    <div id='main_content'>
      <%= yield %>
    </div>
  </body>
</html>
