<h1><%= @recipe[0]["name"]%></h1>
<br/>
<h2>Ingredients:</h2>
  <ul>
    <% @ingredients.each do |ingredient| %>
      <li><%=ingredient["ingredient"] %></li>
    <% end %>
  </ul><br/>
<h2>Description</h2>
<p><%= "#{@recipe[0]["description"]}" %></p><br/>
<h2>Instructions</h2>
<p><%= "#{@recipe[0]["instructions"]}" %></p><br/>

