<h1>
  List of Recipes:
</h1><br/><br/>
<table border ="1">
  <thead>
    <tr>
      <th>Recipe</th>
    </tr>
  </thead>
  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><a href="/recipes/<%="#{recipe["recipe_id"]}"%>"><%="#{recipe["name"]}"%></a></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br/><br/>
<a href="/">Back</a>
